body {
    background-color: black;
    color: lime;
    font-family: 'Courier Prime', monospace;
    text-align: center;
}

.binary {
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
}


#content a {
    text-decoration: none;
    color: black;
}
#content {

    color: black;
}